.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 32px 40px;
  max-width: 788px;
  color: var(--lable-primary);
  box-sizing: border-box;
}

.title {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-relaxed);
  margin-bottom: 24px;
}

.search > :first-child {
  padding: 5px 6px;
}

.cardsWrapper {
  margin: 0 auto;
  padding: 12px 0 24px 0;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.error {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 32px 40px;
  text-align: center;
  color: var(--lable-secondary);
}
