.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--lable-primary);
  box-sizing: border-box;
}

.title {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-relaxed);
}

.addButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 44px;
  padding: 6px 0;
}
