.wrapper {
  min-width: 180px;
  max-height: 200px;
  padding: 4px;
  overflow: auto;
}

.group {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--system-separator);
}
.group:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.groupLabel {
  padding: 6px;
  color: var(--lable-tetriary);
  font-weight: var(--font-weight-semibold);
}

.menuItem {
  display: flex;
  padding: 2px 6px;
  gap: 6px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.menuItem:hover {
  background-color: var(--system-hover);
}

.menuItemIcon {
  width: var(--icon-size);
  color: var(--lable-secondary);
}

.placeholder {
  color: var(--lable-tetriary);
}
