.icon {
  flex-shrink: 0;
  color: var(--lable-secondary);
}

.imagePlaceholder {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  font-size: 54px;
  border-radius: 12px;
  color: var(--yellow-6);
  background: var(--yellow-2);
}

.image {
  flex-shrink: 0;
  max-width: 96px;
  max-height: 96px;
  border-radius: 12px;
}
