.wrapper {
  display: flex;
  height: 32px;
  padding: 6px 0;
  align-items: center;
}

.arrowButton {
  margin-right: 12px;
  transition: transform 0.25s;
}

.expanded {
  transform: rotate(0.25turn);
}

.title {
  flex-shrink: 0;
  width: 168px;
  padding: 8px 6px;
  color: var(--lable-primary);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-tight-2);
  white-space: nowrap;
}

.hidden {
  visibility: hidden;
}
